BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon

BraceWrapping:
  AfterFunction: true
  AfterClass:    true
  AfterControlStatement: MultiLine
  BeforeElse:    true

BreakBeforeBraces: Allman

PointerAlignment: Right
ReferenceAlignment: Pointer
DerivePointerAlignment: false
